<div class="container">
    <div class="circle" style="padding: 0px;">
        <h4 class="titlename">
            Hola, {{username}}
            <img width="25px" src="assets/images/wave.png"/>
        </h4>     
    </div>        
</div>
<div class="container" style="padding-top: 120px;">
    <div class="row">

        <div class="col-4 title-button">
            ABIERTO   
            <div class="button">
                <img height="100px" src="assets/images/lock-256.png" alt="lock"/>
            </div>         
        </div>

        <div class="col-5">
            <div class="card grey-card">
                <div class="card-title">
                    <h4 class="t-card">
                        Ultimas Interacciones
                    </h4>                    
                </div>   

                <div class="card-body carta">
                    <div class="card">
                        <div class="card-body">
                                <img width="30px" src="assets/images/calendar.png"/>
                                <span style="padding-left: 10px;">Abierto el 27/01/2025 de 6:15 am - 8:00 am</span>
                        </div>
                    </div>
                </div>  
                
                <div class="card-body carta">
                    <div class="card">
                        <div class="card-body">
                                <img width="30px" src="assets/images/calendar.png"/>
                                <span style="padding-left: 10px;">Abierto el 27/01/2025 de 2:40 pm - 3:00 pm</span>
                        </div>
                    </div>
                </div>  

                <div class="card-body carta">
                    <div class="card">
                        <div class="card-body">
                                <img width="30px" src="assets/images/calendar.png"/>
                                <span style="padding-left: 10px;">Abierto el 28/01/2025 de 6:15 pm - 6:17 pm</span>
                        </div>
                    </div>
                </div>  

            </div>
        </div>

        <div class="col-3">
            <div class="card grey-card" style="height: 550px; width: 450px;">
                <div class="card-title">
                    <h4 class="t-card">
                        Graficos
                    </h4>
                    <div class="card">
                        <div class="card-body">
                            <app-chart></app-chart>
                        </div> 
                    </div>                                       
                </div> 
            </div>    
        </div>

    </div>
</div>
