<div class="container">    
    <div class="row justify-content-center">
        <div class="col-4 text-center">
            <div class="pt-3 mb-3 text">
                <p style="text-align: start;">Nombre</p>        
            </div>
        
            <div class="mb-3">
                <input id="inputTexto" style="width: 300px;" type="text" placeholder="Contraseña"/>
            </div>  
            
            <div class=" mb-3 text">
                <p style="text-align: start;">Correo</p>        
            </div>
        
            <div class="mb-3">
                <input id="inputTexto" style="width: 300px;" type="email" placeholder="Correo Electronico"/>
            </div>                 
        
            <div class="mb-3 text">
                <p style="text-align: start;">Contraseña</p>        
            </div>
        
            <div class="mb-3">
                <input id="inputTexto" style="width: 300px;" type="password" placeholder="Contraseña"/>
            </div>  

            <div class="mb-3 text">
                <p style="text-align: start;">Repetir Contraseña</p>        
            </div>
        
            <div class="mb-3">
                <input id="inputTexto" style="width: 300px;" type="password" placeholder="Contraseña"/>
            </div>  
            
            <a href="#" class="d-block mb-3">¿Ya tienes cuenta? Iniciar Sesion.</a>
            <button (click)="setMessage()">Registrame</button>
        

            <p>{{message}}</p>
    </div>
</div>